@use '../../../styles/mixins' as *;

.root {
  button {
    border: none;

    .ant-space {
      .ant-space-item {
        color: var(--theme-unknown-2);
      }
    }
  }

  .username {
    display: inline;

    @include screen(desktop) {
      font-weight: 600;
      font-size: 0.8rem;
    }
  }

  .hideTitleOnMobile {
    @include screen(mobile) {
      display: none;
    }
  }

  .profileAvatar {
    margin-right: 0.35rem;
    border: 1px solid rgb(255 255 255 / 45%);
  }
}

.chatToggle {
  @include screen(tablet) {
    display: none;
  }
}
