@use '../../../styles/mixins' as *;

.layout {
  // this margin is for fixed header
  padding-top: var(--header-height);
  background:
    linear-gradient(180deg, rgb(5 7 18 / 0%) 0%, rgb(5 7 18 / 80%) 44%, #050712 100%),
    var(--theme-color-background-main);
  height: 100vh;
  display: flex;
  position: relative;
  color: var(--rave-text);

  // add some spacing between the last row of content and the footer
  .footerContainer {
    margin-top: 5em;
  }
}
