.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

  .logo {
    width: clamp(2.5rem, 8vw, 50px);
    height: clamp(2.5rem, 8vw, 50px);
    object-fit: contain;
    filter: drop-shadow(0 0 16px rgb(255 54 188 / 28%));
  }
}

.contrast {
  padding: 5px;
  border-radius: 50%;

  .logo {
    width: clamp(2rem, 7vw, 40px);
    height: clamp(2rem, 7vw, 40px);
  }
}

.simple {
  background-color: transparent;

  .logo {
    width: clamp(2.5rem, 8vw, 50px);
    height: clamp(2.5rem, 8vw, 50px);
  }
}
